extends templates/default

block content
    .container-fluid.custab(style="margin-right:2em; margin-left:2em; margin-top: 7em; background-color:#fff; padding:3em;")
      .row
        .col-md-12
          div(class=['ui', 'container', 'grid', 'stackable'])
            div(class=['ten', 'wide', 'column'])

              h2(class=['ui','header', 'blue', 'dividing'])= 'Novo Investidor'

              div(class='form-novoproduto')
                form(class=['ui', 'form'] action='http://localhost:3000/novoInvestidor' method='post')
                  div(class=['ui', 'field'])
                    label(form='nome')= 'Nome do Investidor'
                    input(type= 'text', name='nome' placeholder='nome')
                  div(class=['ui', 'field'])
                    label(form='endereco')= 'Endereço'
                    input(type= 'text', name='endereco' placeholder='Endereco')
                  div(class=['ui', 'field'])
                    label(form='telefone')= 'Telefone'
                    input(type= 'text', name='telefone' placeholder='Telefone')
                  div(class=['ui', 'field'])
                    label(form='email')= 'Email'
                    input(type= 'text', name='email' placeholder='Email')
                  div(class=['ui', 'field'])
                    label(form='qtd_bitcoin')= 'Qtd. Bitcoin'
                    input(type= 'text', name='qtd_bitcoin' placeholder='Qtd. Bitcoin')
                  div(class=['ui', 'field'])
                    label(form='exchange_invest')= 'Exchange Investimento'
                    input(type= 'text', name='exchange_invest' placeholder='Exchange Investimento')
                  div
                  button(class=['ui', 'button','green','button'])= 'Inserir Investidor'
                  a(class=['ui', 'button','red','button'] href="http://localhost:3000/investidor")= 'Cancelar'
                  div(class=['ui', 'message', 'error'])
              if info != undefined
                div(class=['ui', 'message', 'success']) 
                  i(class=['close','icon'])
                  div(class='header')= ' Produto Registrado '
                  p= info
          script(src='/javascripts/validacao.js')